<ion-header>
  <ion-toolbar class="color">
    <ion-title class="ion-text-center">Activity</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Pelacakan Langkah</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas id="stepChart"></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Detail Aktivitas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Jumlah Langkah: {{steps}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Jarak Tempuh: {{distance}} km</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Kalori Terbakar: {{calories}} kcal</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Riwayat Aktivitas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let activity of activityHistory">
          <ion-label>
            <h2>{{activity.date}}</h2>
            <p>Langkah: {{activity.steps}}, Jarak: {{activity.distance}} km, Kalori: {{activity.calories}} kcal</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
